.main{
    /*background-color:#9dd9ed;*/
    /*
       change background color to mimic ocean
    */
    /*background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #cfecf6),
        color-stop(0.61, #01b9f5)
    );*/
    
    background: url(../img/fish.png) no-repeat;
   
    /*background-attachment:fixed;*/
    /*height:480px;*/
    /*width:320px;*/
    position: relative;
    /*left:50%;*/
    /*margin-left:-160px;*/
    width: 100%;
    /*display: block;*/
    min-height: 850px;
    background-size: cover;
}

.life{
    width:100px;
    height:10px;
    position: absolute;
	
    z-index:2;
    left:10px;
    top:10px;
    border:1px solid #ff9900;
    border-radius: 7px;
    padding:1px;
	background:white;

}

.life label{
	/*
	   inner block
	   this is for life(HP)
	   every time the blow fish eats food, the life (HP) will increase
	*/
    display: inline-block;
    width: 0px;
    height:10px;
    background-color: #ff9900;
    border-radius: 7px;
    float:left;
}

#title {
    /*position:absolute;*/
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.middle {
    margin: auto;
    display: block;
    margin-top: 40px;
    width:180px;
    height:150px;
}
/**********
* Food 1 -white box
***********/
.food1 {
    width:50px;
    height:50px;
    position: absolute;
    /*left:230px;
    top:50px;*/
	left: 65%;
	top: 17%;
    border:4px solid #ffffff; /*White*/
}

.food1 img {
    width:50px;
    height:50px;
}

/************
* Food 2 -green box
*************/
.food2 {
    width:50px;
    height:50px;
    position: absolute;
    /*left:230px;
    top:70px;*/
	left: 65%;
	top: 35%;
    border:4px solid #589300; /*Green*/
}

.food2 img {
    width:50px;
    height:50px;
}

/*************
* Food3 -light blue box
**************/
.food3 {
    width:50px;
    height:50px;
    position: absolute;
    /*left:100px;
    top:200px;*/
	left: 40%;
	top: 17%;
    border:4px solid #00bbff;
}


.food3 img {
    width:50px;
    height:50px;
}
/***************
* Food4 -purple box
***************/
.food4 {
    width:50px;
    height:50px;
    position: absolute;
    /*left:200px;
    top:260px;*/
	left: 40%;
	top: 35%;
    border:4px solid purple;
}

.food4 img {
    width:50px;
    height:50px;
}

/********************
* Food 5 -orange box
*********************/

.food5 {
    width:50px;
    height:50px;
    position: absolute;
    /*left:200px;
    top:330px;*/
	left: 65%;
	top: 50%;
    border:4px solid #ff5700; /*orange*/
}

.food5 img {
    width:50px;
    height:50px;
}

/**************
*Food 6 - yellow box
***************/
.food6 {
    width:50px;
    height:50px;
    position: absolute;
    left:40%;
    top:50%;
    border:4px solid yellow;
}

.food6 img {
    width:50px;
    height:50px;
}

.blowfish {
    width:170px;
    height:160px;
    position: absolute;
    /*left:30px;*/
    top:650px;
}

.blowfish img {
    width:170px;
    height:160px;
    /*border:4px solid #ffffff;*/
}

.level{
    position: absolute;
    z-index:2;
    color:white;
    font-size:50px;
    right:30px;
    top:20px;
	font-weight:bolder;
}

.level span{
    color: #fb0;
    font-weight: bolder;
}

.foodDisplay {
    display: inline-block;
    position: absolute;
    width:170px;
    height:40px;
    border:4px solid #ffffff;
    left:135px;
    top:430px;
	/*left: 42%;
	top: 63%;*/

}

#foodDisplay0 {
    width:40px;
    height:40px;
    /*border:1px solid #dc00ff;*/ 
    float:left;  
}

#foodDisplay1 {
    width:40px;
    height:40px;
    /*border:1px solid #dc00ff;*/
    float:left; 
}

#foodDisplay2 {
    width:40px;
    height:40px;
    /*border:1px solid #dc00ff;*/
    float:left; 
}

#foodDisplay3 {
    width:40px;
    height:40px;
    /*border:1px solid #dc00ff;*/
    float:left; 
}

.start_flush1{
	
	
    position: absolute;
    /*left:0;*/
    /*top:0;*/

    /*width:320px;*/
    /*height:480px;*/
    width: 100%;
    min-height: 850px;

    /*
       change here background later..........
    */
    background:url(../img/fish.png) no-repeat;
    z-index: 10;
	/*background-size: 320px 480px;*/
	background-size: cover;

}

/************************
* Play button
*************************/
.start_btn{
    display: inline-block;
    position: absolute;
    width:60px;
    height:60px;
    border:4px solid #ffffff;
    border-radius: 32px;
    /*left:239px;*/
    /*top:394px;*/
    left: 68.95%;
    top: 53.8%;
}

.start_btn img {
    width:50px;
    height:50px;
    margin-left: 4px;
    margin-top: 4px;
}

/*Yellow play button*/
/*.start_btn:before{*/
    /*content:"";*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*width: 0;*/
    /*height: 0;*/
    /*overflow: hidden;*/
    /*border-top: 20px solid transparent;*/
    /*border-left: 40px solid #feff01;*/
    /*border-bottom: 20px solid transparent;*/
    /*top:9px;*/
    /*left:15px;*/
/*}*/

.start_btn:active:before{
    border-left-color: #fb0;
}

/******************
* Tutorial button
******************/
.tutor_btn{
    display: inline-block;
    position: absolute;
    width:60px;
    height:60px;
    border:4px solid #ffffff;
    border-radius: 32px;
    /*left:15px;*/
    /*top:394px;*/
    left:25.65%;
	top: 53.8%;
}

.tutor_btn img{
    width:50px;
    height:50px;
    margin-left: 5px;
    margin-top: 5px;
}

/********************
* Leader button
********************/
.leader_btn{
    display: inline-block;
    position: absolute;
    width:60px;
    height:60px;
    border:4px solid #ffffff;
    border-radius: 32px;
    /*left:180px;*/
    /*top:394px;*/
    left: 47.3%;
	top: 53.8%
}

.leader_btn img{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
}




.end_flush{
    position: absolute;
    left:30px;
    top:130px;
    width:260px;
    height:123px;
    display: block; /*none*/
	background-color: white;
	border: 1px solid #589300;
	border-radius: 20px;
}

.end_flush .icon{
	display:inline-block;
	float:left;
	width:55px;
	height:53px;
	background:url(../img/baozi.png) no-repeat;
	background-size:55px 106px;
	margin: 12px 0 0 12px;
}

.end_flush .icon.happy{
	background:url(../img/baozi.png) 0 -54px no-repeat;
	background-size:55px 107px;
}

.end_flush p{
    display: inline-block;
    float:right;
    width:170px;
    color:#31454c;
	margin-right:10px;
    font-size: 16px;
    font-weight: bolder;
	line-height:26px;
}
.end_flush p label{
	color:#ff9900;
}

.end_flush .replay_btn{
    display: inline-block;
    position: absolute;
    color:#fb0;
    
	text-shadow:1px 1px 1px #333333;
    bottom:20px;
    right:20px;
	font-size:16px;
	font-weight:bolder;
	
	text-decoration:none;
	line-height:23px;
}

/*
.end_flush .replay_btn:after{
	content:"";
	display:inline-block;
	
	background:url(../img/icons_btn.png) no-repeat right 0;
	
    background-size: 19px 108px;
	width:19px;
	height:23px;
	float:right;
	
    padding-right: 5px;
}
*/


/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
	.start_flush{
		min-height: 1470px;
	}
	
	.main{
		min-height: 1470px;
	}
	
	/*************
	* Title
	**************/
	#title {
    color: white;
    font-weight: bold;
    font-size: 150px;
    text-align: center;
    margin-top: 20px;
	}
	
	/******************
	* Tutorial button
	******************/
	.tutor_btn{
		display: inline-block;
		position: absolute;
		width:160px;
		height:160px;
		border:4px solid #ffffff;
		border-radius: 82px;
		/*left:15px;*/
		/*top:394px;*/
		left:14.65%;
		top: 1000px;
	}

	.tutor_btn img{
		width:150px;
		height:150px;
		margin-left: 5px;
		margin-top: 5px;
	}
	
	/********************
	* Leader button
	********************/
	.leader_btn{
		display: inline-block;
		position: absolute;
		width:160px;
		height:160px;
		border:4px solid #ffffff;
		border-radius: 82px;
		/*left:180px;*/
		/*top:394px;*/
		left: 40.3%;
		top: 1000px;
	}

	.leader_btn img{
		width: 150px;
		height: 150px;
		margin-left: 5px;
		margin-top: 5px;
	}
		
	/************************
	* Play button
	*************************/
	.start_btn{
		display: inline-block;
		position: absolute;
		width:160px;
		height:160px;
		border:4px solid #ffffff;
		border-radius: 82px;
		/*left:239px;*/
		/*top:394px;*/
		left: 65.95%;
		top: 1000px;
	}

	.start_btn img {
		width:150px;
		height:150px;
		margin-left: 4px;
		margin-top: 4px;
	}
	
	/*****************************
	* Gameplay begins here
	*****************************/
	/**********
	* Food 1 -white box
	***********/
	.food1 {
		width:150px;
		height:150px;
		position: absolute;
		/*left:230px;
		top:50px;*/
		left: 60%;
		top: 17%;
		border:4px solid #ffffff; /*White*/
	}

	.food1 img {
		width:150px;
		height:150px;
	}

	/************
	* Food 2 -green box
	*************/
	.food2 {
		width:150px;
		height:150px;
		position: absolute;
		/*left:230px;
		top:70px;*/
		left: 60%;
		top: 34%;
		border:4px solid #589300; /*Green*/
	}

	.food2 img {
		width:150px;
		height:150px;
	}

	/*************
	* Food3 -light blue box
	**************/
	.food3 {
		width:150px;
		height:150px;
		position: absolute;
		/*left:100px;
		top:200px;*/
		left: 26%;
		top: 17%;
		border:4px solid #00bbff;
	}


	.food3 img {
		width:150px;
		height:150px;
	}
	/***************
	* Food4 -purple box
	***************/
	.food4 {
		width:150px;
		height:150px;
		position: absolute;
		/*left:200px;
		top:260px;*/
		left: 26%;
		top: 34%;
		border:4px solid purple;
	}

	.food4 img {
		width:150px;
		height:150px;
	}

	/********************
	* Food 5 -orange box
	*********************/

	.food5 {
		width:150px;
		height:150px;
		position: absolute;
		/*left:200px;
		top:330px;*/
		left: 60%;
		top: 50%;
		border:4px solid #ff5700; /*orange*/
	}

	.food5 img {
		width:150px;
		height:150px;
	}

	/**************
	*Food 6 - yellow box
	***************/
	.food6 {
		width:150px;
		height:150px;
		position: absolute;
		left:26%;
		top:50%;
		border:4px solid yellow;
	}

	.food6 img {
		width:150px;
		height:150px;
	}
	
	.blowfish {
		width:170px;
		height:160px;
		position: absolute;
		/*left:30px;*/
		top:1150px;
	}

	.blowfish img {
		width:170px;
		height:160px;
		/*border:4px solid #ffffff;*/
	}
	
	/*
	* Portrait Mobile: Whole pop-up
	*/
	.end_flush{
		position: absolute;
		left:170px;
		top:330px;
		width:660px;
		height:423px;
		display: block; /*none*/
		background-color: white;
		border: 1px solid #589300;
		border-radius: 20px;
	}
	
	.end_flush .icon{
		display:inline-block;
		float:left;
		width:210px;
		height:105px;
		background:url(../img/baozi.png) no-repeat;
		background-size:210px 210px;
		margin: 100px 0 0 20px;
	}

	.end_flush .icon.happy{
		background:url(../img/baozi.png) 0 -104px no-repeat;
		background-size:210px 210px;
	}
	
	/*
	* Portrait Mobile: Message in popup paragraph
	*/
	.end_flush p{
		display: inline-block;
		float:right;
		width:400px;
		color:#31454c;
		margin-right:10px;
		margin-top: 60px;
		font-size: 40px;
		font-weight: bolder;
		line-height:70px;
	}
	.end_flush p label{
		color:#ff9900;
	}
	/*
	* Portrait Mobile: Replay button
	*/
	.end_flush .replay_btn{
		display: inline-block;
		position: absolute;
		color:#fb0;
		
		text-shadow:1px 1px 1px #333333;
		bottom:45px;
		right:80px;
		font-size:50px;
		font-weight:bolder;
		
		text-decoration:none;
		line-height:23px;
	}
	
	/*
	.end_flush .replay_btn:after{
		content:"";
		display:inline-block;
		
		background:url(../img/icons_btn.png) no-repeat right 0;
		
		background-size: 19px 108px;
		width:30px;
		height:23px;
		float:right;
		
		padding-right: 5px;
	}
	*/
	
	
	.foodDisplay {
		display: inline-block;
		position: absolute;
		width:750px;
		height:125px;
		border:4px solid #ffffff;
		/*left:135px;
		top:430px;*/
		
		/*left: 42%;
		top: 63%;*/
		
		left: 100px;
		top: 1000px;

	}

	#foodDisplay0 {
		width:125px;
		height:125px;
		/*border:1px solid #dc00ff;*/ 
		float:left;  
	}

	#foodDisplay1 {
		width:125px;
		height:125px;
		/*border:1px solid #dc00ff;*/
		float:left; 
	}

	#foodDisplay2 {
		width:125px;
		height:125px;
		/*border:1px solid #dc00ff;*/
		float:left; 
	}

	#foodDisplay3 {
		width:125px;
		height:125px;
		/*border:1px solid #dc00ff;*/
		float:left; 
	}
	

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
	.start_flush{
		min-height: 490px;
	}
	.main {
		min-height: 490px;
	}
	.start_btn {
		top: 325px;
	}
	
	.tutor_btn {
		top: 325px;
	}
	
	.leader_btn {
		top: 325px;
	}
	
		/*****************************
	* Gameplay begins here
	*****************************/
	/**********
	* Food 1 -white box
	***********/
	.food1 {
		width:150px;
		height:150px;
		position: absolute;
		/*left:230px;
		top:50px;*/
		left: 65%;
		top: 17%;
		border:4px solid #ffffff; /*White*/
	}

	.food1 img {
		width:150px;
		height:150px;
	}

	/************
	* Food 2 -green box
	*************/
	.food2 {
		width:150px;
		height:150px;
		position: absolute;
		/*left:230px;
		top:70px;*/
		left: 65%;
		top: 35%;
		border:4px solid #589300; /*Green*/
	}

	.food2 img {
		width:150px;
		height:150px;
	}

	/*************
	* Food3 -light blue box
	**************/
	.food3 {
		width:150px;
		height:150px;
		position: absolute;
		/*left:100px;
		top:200px;*/
		left: 40%;
		top: 17%;
		border:4px solid #00bbff;
	}


	.food3 img {
		width:150px;
		height:150px;
	}
	/***************
	* Food4 -purple box
	***************/
	.food4 {
		width:150px;
		height:150px;
		position: absolute;
		/*left:200px;
		top:260px;*/
		left: 40%;
		top: 35%;
		border:4px solid purple;
	}

	.food4 img {
		width:150px;
		height:150px;
	}

	/********************
	* Food 5 -orange box
	*********************/

	.food5 {
		width:150px;
		height:150px;
		position: absolute;
		/*left:200px;
		top:330px;*/
		left: 65%;
		top: 50%;
		border:4px solid #ff5700; /*orange*/
	}

	.food5 img {
		width:150px;
		height:150px;
	}

	/**************
	*Food 6 - yellow box
	***************/
	.food6 {
		width:150px;
		height:150px;
		position: absolute;
		left:40%;
		top:50%;
		border:4px solid yellow;
	}

	.food6 img {
		width:150px;
		height:150px;
	}
	
}









