/************************************
* Background
*************************************/
.tutorials {
	width: 100%;
	min-height: 850px;
	position: relative;
	background: url(../img/fish.png) no-repeat;
	background-size: cover;
	left: 0;
}

/************************************
* Title
*************************************/
.tutorialtitle {
    margin-top: 20px;
    text-align: center;
	font-size: 44px; 
	font-weight: bold; 
	color: #FFFF00;
	display: block;
}


/******************
* sound button
******************/
#soundbtn {
	/*background:url(../img/sound.png) no-repeat;*/
    background-size: cover;
	display:inline-block;
    position:absolute;
	margin-left:48%;
	border:4px solid #ffffff;
    border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
	right: 3%;
	top: 2.8%;
	cursor: pointer;
}

#soundbtn img {
    width:40px;
	height:50px;
}

/************************************
* Blowfish 
*************************************/
.fish {
	position:absolute; 
	top:15%; 
	left:43%;
}

.fish img {
	width: 180px;
	height: 160px;
}

/************************************
* Food display order
*************************************/
.order {
	position: absolute;
	top: 45%;
	left: 41%;
}

.order img {
	width: 240px;
	height: 50px;
}

/************************************
* Yellow arrow direction
*************************************/
.arrow {
	position: absolute;
	top: 53%;
	left: 41.5%;
}

.arrow img {
	width: 230px;
	height: 20px;
}

/************************************
* Message
*************************************/
.message {
	position:absolute; 
	font-size: 18px; 
	font-weight: bold; 
	color: white;
	top:58%; 
	left:40%;
}

/************************************
* Homebutton to screen
*************************************/
.homebutton {
	position: absolute;
	top: 75%;
	left: 35%;
}

.homebutton img {
	width: 50px;
	height: 49px;
}

/************************************
* Next screen button
*************************************/
.nextbutton {
	position: absolute;
	top: 75%;
	right: 35%;
}

.nextbutton img {
	width: 50px;
	height: 50px;
}

/******************
* Big screen size
******************/
@media screen and (min-width: 300px)  {
    .tutorials{
		position: fixed;
	}
}

/******************
* Small screen size
******************/
@media screen and (max-width: 480px) {
	.fish {
		position:absolute; 
		top:15%; 
		left:30%;
	}
	
	.order {
	position: absolute;
	top: 45%;
	left: 21%;
	}
	
	.arrow {
	position: absolute;
	top: 53%;
	left: 21.6%;
	}
	
	.message {
	font-size: 18px; 
	font-weight: bold; 
	color: white;
	top:58%; 
	left:20%;
	
	}
	
	.homebutton {
	position: absolute;
	top: 85%;
	left: 15%;
	}

	.nextbutton {
	position: absolute;
	top: 85%;
	right: 15%;
	}
}

/******************
* For iPhone 4 and iphone 5
******************/
@media screen and (max-width: 320px) {
	.fish  img{
		top: 30%;
		height: 22%;
	}
	
	.order {
		top:47%;
		left:21%;
		width: 60%;
	}
	
	.arrow {
		top: 59%;
		left: 15%;
	}
	
	.message {
		font-size: 15.5px;
		top: 67%;
		left: 15%;
	}
}

/******************
* For iPad
******************/
@media screen and (min-height: 1000px) {
	.tutorials{
		min-height: 1024px;
	}
}