/************************************
* Background
*************************************/
.tutorials {
	width: auto;
	min-height: 850px;
	position: relative;
	background: url(../img/fish.png) no-repeat;
	background-size: cover;
}

/************************************
* Title
*************************************/
.tutorialtitle {
	position:absolute; 
	top:0%; 
	left:42%; 
	font-size: 44px; 
	font-weight: bold; 
	font-family: calibri; 
	color: #FFFF00;
	display: block;
}

/************************************
* Blowfish Message
*************************************/
/*
.hello {
	position: absolute;
	top: 23%;
	left: 45%;
}

.hello img {
	width: 95px;
	height: 50px;
}
*/

/************************************
* Blowfish 
*************************************/
.fish {
	position:absolute; 
	top:19%; 
	left:42%;
}

.fish img {
	width: 190px;
	height: 180px;
}

/************************************
* Food display order
*************************************/
.order {
	position: absolute;
	top: 49%;
	left: 40%;
}

.order img {
	width: 240px;
	height: 50px;
}

/************************************
* Yellow arrow direction
*************************************/
.arrow {
	position: absolute;
	top: 61%;
	left: 40%;
}

.arrow img {
	width: 230px;
	height: 20px;
}

/************************************
* Message
*************************************/
.message {
	position:absolute; 
	font-size: 18px; 
	font-weight: bold; 
	font-family: Calibri; 
	top:63%; 
	left:40%;" 
}

/************************************
* Homebutton to screen
*************************************/
.homebutton {
	position: absolute;
	top: 80%;
	left: 38%;
}

.homebutton img {
	width: 50px;
	height: 49px;
}

/************************************
* Next screen button
*************************************/
.nextbutton {
	position: absolute;
	top: 80%;
	left: 52%;
}

.nextbutton img {
	width: 50px;
	height: 50px;
}

/***********************************
* iPhone 6+ Screen
* MP: Mobile Portrait
***********************************/

/* iPhone 6+: Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
	/*MP: Background*/
	.tutorials {
		/*1470px for iPhone 6+ Safari*/
		min-height: 1715px;	
	}

	.tutorialtitle {
		font-size: 120px; 
		left: 29%;
	}
	
	/*MP: Blowfish*/
	.fish {
		position:absolute; 
		top:21%; 
		left:35%;
	}

	.fish img {
		width: 330px;
		height: 310px;
	}
	
	/*MP: Food order display*/
	.order {
		left: 14%;
	}
	
	.order img {
		width: 700px;
		height: 120px;
	}
	
	/*MP: Yellow arrow direction*/
	.arrow  {
		left: 14%;
	}
	
	.arrow img {
		width: 700px;
		height: 40px;
	}
	
	/*MP: Message*/
	.message {
		font-size: 40px; 
		left:20%;" 
	}
	
	/*MP: Home button*/
	.homebutton {
		top: 80%;
		left: 25%;
	}

	.homebutton img {
		width: 160px;
		height: 160px;
	}
	
	/*MP: Next button*/
	.nextbutton {
	position: absolute;
		top: 80%;
		left: 60%;
	}

	.nextbutton img {
		width: 160px;
		height: 160px;
	}

}

/* iPhone 6+: Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
	.tutorials {
		min-height: 490px;	
	}
	.tutorialtitle {
		margin-top: 15px;
	}
	
	/*MP: Blowfish*/
	.fish {
		position:absolute; 
		top:15%; 
		left:40%;
	}

	.fish img {
		width: 150px;
		height: 130px;
	}

	/*MP: Blowfish Message*/
	.hello {
		position: absolute;
		top: 15%;
		left: 55%;
	}

	.hello img {
		width: 95px;
		height: 50px;
	}
	
	/*MP: Food order display*/
	.order {
		top: 42%;
		left: 40%;
	}

	.order img {
		width: 240px;
		height: 50px;
	}
	
	/*MP: Yellow direction arrow*/
	.arrow {
		top: 53%;
	}

	.arrow img {
		width: 230px;
		height: 20px;
	}
	
	/*MP: Message*/
	.message {
		top:55%; 	
	}
	
	
	/*MP: Homebutton to screen*/
	.homebutton {
		position: absolute;
		top: 75%;
		left: 38%;
	}

	.homebutton img {
		width: 60px;
		height: 60px;
	}

	/*MP: Next screen button*/
	.nextbutton {
		top: 75%;
		left: 60%;
	}

	.nextbutton img {
		width: 60px;
		height: 60px;
	}
	
}