/***************************
* Background
****************************/
.tutorials {
	width: 100%;
	min-height: 850px;
	position: relative;
	background: url(../img/fish.png) no-repeat;
	background-size: cover;
	left: 0;
}

/************************************
* Title
*************************************/
.tutorialtitle {
    margin-top: 20px;
    text-align: center;
	font-size: 44px; 
	font-weight: bold; 
	color: #FFFF00;
	display: block;
}

/******************
* sound button
******************/
#soundbtn {
	/*background:url(../img/sound.png) no-repeat;*/
    background-size: cover;
	display:inline-block;
    position:absolute;
	margin-left:48%;
	border:4px solid #ffffff;
    border-top-left-radius:40px;
	border-top-right-radius:40px;
	border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;
	right: 3%;
	top: 2.8%;
	cursor: pointer;
}

#soundbtn img {
    width:40px;
	height:50px;
}

/******************
* Blowfish
******************/
.fish {
	position:absolute; 
	top:56%; 
	left:35%;
}

.fish img {
	width:110px;
	height:95px;
}

/******************
* Crab food
******************/
.crab {
	position:absolute; 
	top:36%; 
	left:36%;
}

.crab img {
	width:65px;
	height:45px;
}

/******************
* Shrimp food
******************/
.shrimp {
	position:absolute; 
	top:22%; 
	left:43%;
}

.shrimp img {
	width:70px;
	height:40px;
}

/******************
* Mussel
******************/
.mussel {
	position:absolute;
	top:37%;
	left:53%;
}

.mussel img {
	width:35px;
	height:55px;
}

/******************
* Squid
******************/
.squid {
	position:absolute;
	top:22%;
	left:59%;
}

.squid img {
	width:35px;
	height:50px;
}

/*****************
* Feed me message
*****************/
.feedme {
	position:absolute;
	top:49%;
	left:40%;
}

.feedme img {
	 width:150px;
	 height:70px;
}

/******************
* Food order display
*******************/
.order {
	position:absolute;
	top:63%;
	left:50%;
}

.order img {
	 width:200px;
	 height:50px;
}

/*********************
* Left button go back
*********************/

.leftbutton {
	position: absolute;
	top: 75%;
	left: 35%;
}

.leftbutton img {
	width: 50px;
	height: 50px;
}

/*********************
* Play button
*********************/

.playGame {
	position: absolute;
	top: 75%;
	right: 35%;
}

.playGame img {
	width: 50px;
	height: 50px;
}

/******************
* Big screen size
******************/
@media screen and (min-width: 300px) {
    .tutorials {
		position: fixed;
	}
}

/******************
* Small screen size
******************/
@media screen and (max-width: 450px) {
	.crab {
		top:36%; 
		left:16%;
	}
	
	.shrimp {
		top:22%; 
		left:33%;
	}
	
	.mussel {
		top:37%;
		left:58%;
	}
	
	.squid {
		top:22%;
		left:72%;
	}
	
	.feedme {
		top:50%;
		left:53%;
	}
	
	.order {
		top:73%;
		left:27%;
	}
	
	.leftbutton {
		top: 85%;
		left: 15%;
	}

	.playGame {
		top: 85%;
		right: 15%;
	}
}

/******************
* For iPhone 4 and iphone 5
******************/
@media screen and (max-width: 320px) {
	.order {
		top:73%;
		left:20%;
	}
	
	.fish {
		top: 55%;
		left: 20%;
		width: 30%;
		height: 10%;
	}
	
	.feedme {
		left: 45%;
		width: 43%;
	}
	
	.order {
		top: 75%;
	}
	
	.order img {
		height: 10%;
		width: 80%;
	}
}

/******************
* For iPad
******************/
@media screen and (min-height: 1000px) {
	.tutorials{
		min-height: 1024px;
	}
}





