/***************************
* Background
****************************/
.tutorials {
	width: auto;
	min-height: 850px;
	position: relative;
	background: url(../img/fish.png) no-repeat;
	background-size: cover;
}

.tutorialtitle {
	position:absolute; 
	top:0%; 
	left:42%; 
	font-size: 44px; 
	font-weight: bold; 
	font-family: calibri; 
	color: #FFFF00;
	display: block;
}

/******************
* Blowfish
******************/
.fish {
	position:absolute; 
	top:64%; 
	left:35%;
}

.fish img {
	width:110px;
	height:95px;
}

/******************
* Crab food
******************/
.crab {
	position:absolute; 
	top:42%; 
	left:33%;
}

.crab img {
	width:65px;
	height:45px;
}

/******************
* Shrimp food
******************/
.shrimp {
	position:absolute; 
	top:28%; 
	left:40%;
}

.shrimp img {
	width:70px;
	height:40px;
}

/******************
* Mussel
******************/
.mussel {
	position:absolute;
	top:43%;
	left:50%;
}

.mussel img {
	width:35px;
	height:55px;
}

/******************
* Squid
******************/
.squid {
	position:absolute;
	top:29%;
	left:59%;
}

.squid img {
	width:35px;
	height:50px;
}

/*****************
* Feed me message
*****************/
.feedme {
	position:absolute;
	top:58%;
	left:42%;
}

.feedme img {
	 width:150px;
	 height:67px;
}

/******************
* Food order display
*******************/
.order {
	position:absolute;
	top:70%;
	left:50%;
}

.order img {
	 width:250px;
	 height:80px;
}

/*********************
* Left button go back
*********************/

.leftbutton {
	position: absolute;
	top: 80%;
	left: 35%;
}

.leftbutton img {
	width: 50px;
	height: 50px;
}



/******************
* iPhone 6+ Screen
* MP: Mobile Portrait
*******************/

/* iPhone 6+: Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
	/*MP: Background*/
	.tutorials {
		/*1470px for iPhone 6+ Safari*/
		min-height: 1715px;	
	}

	.tutorialtitle {
		font-size: 120px; 
		left: 29%;
	}
	
	/*MP: Blowfish*/
	.fish {
		top: 60%;
		left: 15%;
	}

	.fish img {
		width: 230px;
		height: 210px;
	}
	
	/*MP: Food display*/
	.order {
		top:68%;
		left:44%;
	}

	.order img {
		 width:480px;
		 height:120px;
	}
	
	/*MP: Feed me message*/
	.feedme {
		top:53%;
		left:33%;
	}

	.feedme img {
		 width:300px;
		 height:150px;
	}
	
	/*MP: Crab food*/
	.crab {
		position:absolute; 
		top:42%; 
		left:20%;
	}

	.crab img {
		width:250px;
		height:130px;
	}

	/*MP: Shrimp food*/
	.shrimp {
		position:absolute; 
		top:28%; 
		left:60%;
	}

	.shrimp img {
		width:250px;
		height:100px;
	}

	/*MP: Mussel*/
	.mussel {
		position:absolute;
		top:43%;
		left:60%;
	}

	.mussel img {
		width:70px;
		height:130px;
	}

	/*MP: Squid*/
	.squid {
		position:absolute;
		top:25%;
		left:20%;
	}

	.squid img {
		width:180px;
		height:130px;
	}
	
	/*MP: Next button*/
	.leftbutton {
		position: absolute;
		top: 80%;
		left: 25%;
	}

	.leftbutton img {
		width: 160px;
		height: 160px;
	}
		

}	

/* iPhone 6+: Landscape */
/* ML: Mobile Landscape */

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
	.tutorials {
		min-height: 490px;	
	}
	.tutorialtitle {
		margin-top: 25px;
	}
	
	/*ML: Shrimp food*/
	.shrimp {

		top:20%; 
		left:40%;
	}

	.shrimp img {
		width:60px;
		height:60px;
	}
	
	/*ML: Crab food*/
	.crab {
		position:absolute; 
		top:32%; 
		left:30%;
	}

	.crab img {
		width:60px;
		height:60px;
	}
	
	/*ML: Squid food*/
	.squid {
		top:25%;
		left:59%;
	}

	.squid img {
		width:35px;
		height:50px;
	}
	
	/*ML: Mussel food*/
	.mussel {
		position:absolute;
		top:37%;
		left:50%;
	}

	.mussel img {
		width:35px;
		height:55px;
	}
	
	/*ML: Blow fish*/
	.fish {
		top:55%; 
		left:30%;
	}

	.fish img {
		width:110px;
		height:95px;
	}	
	
	/*ML: Feed me*/
	.feedme {
		position:absolute;
		top:50%;
		left:42%;
	}

	.feedme img {
		 width:150px;
		 height:67px;
	}
	
	/*ML: Food order display*/
	.order {
		position:absolute;
		top:66%;
		left:53%;
	}

	.order img {
		 width:240px;
		 height:50px;
	}
	
	/*ML: Back screen button*/
	.leftbutton {
		top: 75%;
		left: 38%;
	}

	.leftbutton img {
		width: 60px;
		height: 60px;
	}
	
}
	







